<nav class="navbar">
    <div class="container nav-container">
        <a href="index.html" class="logo">Eco-<span>Guru</span></a>
        
        <button class="menu-toggle">
            <i class="fas fa-bars"></i>
        </button>
        
        <ul class="nav-links">
            <li><a href="index.html">Home</a></li>
            <li class="dropdown">
                <a href="shop.html">Shop <i class="fas fa-chevron-down"></i></a>
                <div class="dropdown-content">
                    <div class="dropdown-section">
                        <h4>Eco Tableware</h4>
                        <ul class="dropdown-links">
                            <li><a href="shop.html#tableware">Bagasse Plates & Bowls</a></li>
                            <li><a href="shop.html#tableware">Areca Leaf Plates</a></li>
                            <li><a href="shop.html#tableware">Palm Leaf Plates</a></li>
                        </ul>
                    </div>
                    <div class="dropdown-section">
                        <h4>Reusable Bags</h4>
                        <ul class="dropdown-links">
                            <li><a href="shop.html#bags">Organic Cotton Totes</a></li>
                            <li><a href="shop.html#bags">Hemp/Jute Bags</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li><a href="about_us.html">About Us</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
        
        <div class="nav-icons">
            <div class="search-box">
                <input type="text" placeholder="Search products...">
                <i class="fas fa-search search-icon"></i>
            </div>
            <a href="cart.html" class="cart-icon">
                <i class="fas fa-shopping-cart"></i>
                <span class="cart-count">0</span>
            </a>
        </div>
    </div>
</nav>
